<?xml version="1.0" encoding="utf-8"?>
<manifest
		package="io.supportkit.ui"
		xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application>
		<activity
				android:name="io.supportkit.ui.ConversationActivity"
				android:label="@string/SupportKit_activityConversation"
				android:theme="@style/Theme.SupportKit"/>
		<service android:name="io.supportkit.core.service.SupportKitService"/>
	</application>
</manifest>

