<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManageUserActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".UpdateConversationActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".InterceptActivity"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>