<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.supportkit.demoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />
    
    <!-- Adding SupportKit permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- /permissions -->
    
    <!-- Adding some permissions for push (optional) -->
    <permission
            android:name="io.supportkit.demoapp.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="io.supportkit.demoapp.permission.C2D_MESSAGE"/>
    <!-- /permissions -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="io.supportkit.demoapp.DemoApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Add ConversationActivity, core services -->
        <activity android:name="io.supportkit.ui.ConversationActivity" android:theme="@style/Theme.SupportKit" />
        
        <service android:name="io.supportkit.core.service.SupportKitService"/>
        <service android:name="io.supportkit.core.GcmInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:name="io.supportkit.core.GcmRegistrationIntentService" android:exported="false"/>
        <service android:name="io.supportkit.core.GcmService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!-- /conversationactivity -->
		
		<!-- Google Play requirement -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- /googleplay -->
        
        <!-- Add notification receiver for in-app and regular notifications -->
        <receiver
				android:name="io.supportkit.ui.notification.NotificationReceiver"
				android:exported="false">
			<intent-filter>
				<action android:name="io.supportkit.NOTIFICATION"/>
			</intent-filter>
		</receiver>
		<!-- /receiver -->
        
        <!-- Add the push notification receiver (optional) -->
        <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="io.supportkit.demoapp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
            </intent-filter>
        </receiver>
        <!-- /receiver -->
    </application>
</manifest>
