<?xml version="1.0" encoding="utf-8"?>
<manifest
		package="io.smooch.ui"
		xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application>
		<activity
				android:name="io.smooch.ui.ConversationActivity"
				android:label="@string/Smooch_activityConversation"
				android:theme="@style/Theme.Smooch"/>
		<service android:name="io.smooch.core.service.SmoochService"/>
	</application>
</manifest>

